name: Release Guardian (test)

on:
  pull_request:

permissions:
  contents: read
  pull-requests: write
  statuses: write

jobs:
  rdi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Release Guardian
        uses: ./action
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}